/*Global Styles*/
body, html {
    width: 100%;
/*    height: 100%;  */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;   /*to extend divs to the edge of window*/
}
.wrapper {
    display: grid;
    height: 100%;
 	grid-gap:1px;
 	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
 	grid-template-rows:auto;
}

a{
    text-decoration: none;
    color:inherit;
    color:white;
}

.green-check{
   background-color: green; 
}

 .nav li{
    display: inline-block;
    text-decoration: none;
    color: white;
    grid-column-start: 1;
    grid-column-end: 8;
    font-size: 1em;
 }

.title-card{
    color: goldenrod;
    text-align: center;
    font-size: 1.5em;
    background-color: goldenrod;
    opacity: 1;
    padding:5px;
        text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
    text-rendering: optimizeLegibility;
    line-height: 1.5em; 
}

.one{background-color: #1B2836;}
.two{background-color: #283B4F;}
.three{background-color: #3D3C4F;}
.four{background-color: #687582}
.five{background-color: #244F4B}
.six{background-color: #40474F}
.seven{background-color: #416182}
.eight{background-color: #4F3724}

.banner{
	display: flex;
	justify-content: center;
	grid-column-start: 1;
    grid-column-end: 8;
 /*   border: solid 1px black;*/
    font-size: 2em;
}

.banner-inner{
	justify-content: center;
	grid-column-start: 1;
    grid-column-end: 8;
    font-size: 1em;
}

.inner-p{
    text-align: center;
    color: #ecf0f1;
    font-size: 1.5em;
    padding:5px;
        text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
    text-rendering: optimizeLegibility;
    line-height: 1.5em; 
}

.banner-p{
    color:white;
    font-size: 2em;
    padding-left:150px;
    padding-right:500px;
    letter-spacing: 250px;
    text-rendering: optimizeLegibility;
}

.job-p{
    color: white;
     padding:5px;
     font-size: 1.5em;
        text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}